/*  CUSTOM PROPERTIES */
:root {
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-200: #FAFAFA;
  --clr-neutral-200: #ADADAD;
  --clr-neutral-400: #686868;
  --clr-neutral-800: #151515;
  --clr-accent-blue: #726CEE;
  --clr-accent-aqua: #4BB1DA;
  --clr-accent-yellow: #EDD556;
  --clr-accent-purple: #8E4CB6;
}